/* frontend/app/globals.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Cesium specific styles */
.cesium-viewer-bottom,
.cesium-viewer-toolbar,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer {
  display: none;
}

/* Make sure the globe takes up the full screen */
#cesiumContainer,
.cesium-viewer,
.cesium-viewer-cesiumWidgetContainer,
.cesium-widget {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

